*::selection {
    background: #000;
    color:#fff;
}
*::-moz-selection {
    background: #000;
    color:#fff;
}
.bg-primary {
    background: #B0000A !Important;
    background-color: #B0000A !Important;
    color: #fff;   
}
.bg-primary a, .bg-primary a:visited, .bg-primary a:hover {
    color: #fff;     
}
.bg-secondary {
    background: #FF0414 !Important;
    background-color: #FF0414 !Important;
    color: #fff;
}
.bg-alternate {
    background: #666 !Important;
    background-color: #666 !Important;
    color: #fff;
}
.color-primary {
    color: #B0000A;
}
.color-secondary {
    color: #FF0414; 
}
.color-alternate {
    color:#666;  
}
a {
    color:#000;
}
a:hover, a:active, a:focus {
    color:#B0000A;
    text-decoration:underline;
}
a.highlight:link, a.highlight:visited {
    color:#333;
}

a.highlight:hover, a.highlight:active {
    color:#B0000A;
    text-decoration:none;
}
a.active:link, a.active:visited {
    color: #fff;
    cursor: default;
}
#mainnav a.active:link, #mainnav a.active:visited {
    color:#fff;
    background: linear-gradient(to bottom, #FF0414 0%,#B0000A 100%);
    background-image: linear-gradient(to bottom, #9a0e17, #d81313);
    font-weight: bold;
}
.navbar-fixed-top #mainnav a.navlink-home {
    background:  none !important;
}
.list-group-item {
    border-left:  none;
    border-right:  none;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: #f5f5f5;
    color: #555;
    text-decoration: none;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, .list-group-item.active:visited {
    background: linear-gradient(to bottom, #FF0414 0%,#B0000A 100%);
    background-image: linear-gradient(to bottom, #9a0e17, #d81313);
    border: none;
    color: #fff;
    font-weight: bold;
}
.list-group-item.section, .list-group-item.section:focus, .list-group-item.section:hover, .list-group-item.section:visited {
    font-weight: bold;
}
/* Pagination */
.pagination .page-link {
    color: #B0000A;
}
.pagination .page-item.active .page-link, .pagination .page-item.active .page-link:focus, .pagination .page-item.active .page-link:hover {
    background-color: #B0000A;
    background-image: linear-gradient(to bottom, #9a0e17, #d81313);
    border-color: #B0000A;
    color: #fff;
}
#main-container > header {
    background: #fff;
    border-top: 3px solid #B0000A; 
}
/* navigation */
#mainnav a:hover, #mainnav a:active, #mainnav a:focus {
    color:#fff;
    background:#B0000A;
    background-image: linear-gradient(to bottom, #9a0e17, #d81313);
}
/* dropdown menu */
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background:#B0000A;
    background-color:#B0000A;
    filter:#B0000A;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    background:#B0000A;
    background-color:#B0000A;
    filter: #B0000A;
}

.navbar .nav .active a,
.navbar .nav .active a:hover,
.navbar .nav .active a:focus
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active > a i,
.navbar .nav > .active > a:focus i,
.navbar .nav > .active > a:hover i,
.navbar .nav > .active > a span,
.navbar .nav > .active > a:focus span,
.navbar .nav > .active > a:hover span {
    background: #B0000A;
    background-color: #B0000A;
    filter:#B0000A;
}
.navbar a.heading.active, .navbar a.heading.active:focus, .navbar a.heading.active:hover, .navbar a.heading.active:visited {
    background-color: #B0000A;
    background-image: linear-gradient(to bottom, #9a0e17, #d81313);
    color: #fff;
}

.btn-primary {
    background-color: #FF0414;
    border-color: #B0000A;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #B0000A;
    border-color: #B0000A;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #FF0414;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
    background-color: #B0000A;
    border-color: #fff;
}
.breadcrumb {
    background-color: #f5f5f5;
}
/* forms */
.form-control:focus {
    background-color: #fff;
    border-color: #b00006;
    color: #55595c;
}
select.form-control {
    background-color: #fff;
    border: 1px solid #999;
    color: #666;
    outline-color: #000 !important; 
}
select.form-control:enabled {
    border: 1px solid #b0000a;
    outline-color: red !important;
}
select.form-control:hover {
    background-color: #fff;
    border: 1px solid #b0000a;
    box-shadow: 45px 45px #b0000a inset;
    color: #fff;
    outline-color: red !important;
}
select.form-control option {
    background: #fff none repeat scroll 0 0 !important;
    color: #999 !important;
}
select.form-control option:hover, select.form-control option:focus, select.form-control option:active, select.form-control option:checked {
    background: #fff none repeat scroll 0 0 !important;
    border: 0 solid #b0000a;
    box-shadow: 30px 30px #b0000a inset;
    cursor: pointer;
    outline-color: #999 !important;
}
.sc-product-price-info a {
    color: #89b549;
    font-weight: bold;
}
socialicons .icon {
    background: #fff;
    color: #990000;
}
#socialicons .icon:hover {
    background: #fff;
    color: #990000;
}