/*******************************************************************************
 *  Bootstrap additions and fixes
 ******************************************************************************/
/*
 * Row with equal height columns
 * --------------------------------------------------
 * Sizes:
 *  sm: min-width: 544px
 *  md: min-width: 768px
 *  lg: min-width: 992px
 *  xl: min-width: 1200px
 *  xxl: min-width: 1681px
 */

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}
.btn-xs, .btn-group-xs > .btn {
  padding: 0.15rem 0.3rem;
  font-size: 0.675rem;
  border-radius: 0.2rem;
}
.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.275rem;
  padding-left: 0.275rem;
}

.fa-SilvercartCheckoutFormStep1:before    { content: "\f023"; }
.fa-SilvercartCheckoutFormStep2:before    { content: "\f007"; }
.fa-SilvercartCheckoutFormStep3:before    { content: "\f0ac"; }
.fa-SilvercartCheckoutFormStep4:before    { content: "\f0b1"; }
.fa-SilvercartCheckoutFormStep5:before    { content: "\f046"; }
.fa-SilvercartCheckoutFormStep6:before    { content: "\f00c"; }
.fa-groupview-tile:before                 { content: "\f009"; }
.fa-groupview-fourtile:before             { content: "\f0ce"; }
.fa-groupview-threetile:before            { content: "\f00a"; }
.fa-groupview-list:before                 { content: "\f00b"; }
[class^="icon-SilvercartPayment"]:before,
[class*=" icon-SilvercartPayment"]:before { content: "\f0a3"; }

.card [id*="Note_Box"] { margin: 0; }
.card [id*="Note_Box"] textarea { border: none; }

/* ******** Nav Justified Menu  ********* */
.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-justified .nav-item {
    float: none;
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 767px) {
    .nav-justified .nav-item {
        display: table-cell;
        width: 1%;
    }
    .nav-justified .nav-link {
        margin-bottom: 0;
    }
}
/********* Nav Justified used in Responsive Product Tabs  **********/
.product-tab .nav-justified .nav-link strong {
    font-weight: normal;
}
.product-tab .nav-justified .nav-link.active strong {
    font-weight: bold;
}
.product-tab .nav-justified .nav-link {
    margin-right: 0;
    border-radius: 0.25rem;
    text-align: center;
    font-weight: normal;
}
.product-tab .nav-justified .nav-link.active,
.product-tab .nav-justified .nav-link.active:hover,
.product-tab .nav-justified .nav-link.active:focus {
    border: 1px solid #ddd;
    font-weight: bold;
}
@media (min-width: 544px) {
    .product-tab .nav-justified .nav-link {
        border-bottom: 1px solid #ddd;
        border-radius: 0.25rem 0.25rem 0 0;
    }
    .product-tab .nav-justified .nav-link.active,
    .product-tab .nav-justified .nav-link.active:hover,
    .product-tab .nav-justified .nav-link.active:focus {
        border-bottom-color: #fff;
    }
}
@media (max-width: 544px) {
    .product-tab .nav-justified .nav-link {
        border-bottom: none;
        border-radius: 0;
    }
    .product-tab .nav-justified .nav-link.active,
    .product-tab .nav-justified .nav-link.active:hover,
    .product-tab .nav-justified .nav-link.active:focus {
        border-bottom-color: #fff;
    }

    .nav-tabs .nav-item  + .nav-item  {
        margin-left: 0;
    }

    .nav-tabs .nav-item .active  {
        border:  solid #d6d6d6;
        border-width: 0 1px 0 1px;
    }
}

/*******************************************************************************
 *  General
 ******************************************************************************/
header {
    margin-bottom:0;
}

.logo-icon {
    display: none;
}
.navbar-fixed-top .logo-icon {
    display: block;
    position: absolute;
    top: 4px;
    left: -112px;
}
.navbar-fixed-top .fa-home {
    display: none;
}
.navbar-fixed-top .nav > li:hover,
.navbar-fixed-top #mainnav a.navlink-home:hover,
.navbar-fixed-top #mainnav a.navlink-home:active,
.navbar-fixed-top #mainnav a.navlink-home:focus {
    background: transparent !important;
    box-shadow: none;
}
@media (min-width: 992px) {
    #pre-header, #pre-header a, #pre-header p {
        font-size: 0.9rem
    }
}
.siteLogo a {
    display: inline-block;
    width:100%;
    max-width:400px;
    height:83px;
    background-size: contain;
    background-repeat: no-repeat;
}
.siteLogo a span {
    display: inline-block;
    margin-top: 83px;
}
@media (max-width: 544px) {
  .siteLogo a {
    height:45px;
}
.siteLogo a span {
    margin-top: 45px;
    font-size: 70%;
}
}

.special {
    margin-top:40px;
}
.vertical {
    display: inline-block;
    vertical-align: middle;
}
.sc-products-vertical {
   vertical-align: middle;
}
.no-padding {
    padding: 0px;
}
.no-padding-side {
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding-top {
    padding-top: 0px;
}
.no-padding-bottom {
    padding-bottom: 0px;
}
.no-margin {
    margin: 0px;
}
.no-margin-side {
    margin-left: 0px;
    margin-right: 0px;
}
.no-margin-left {
    margin-left: 0px;
}
.no-margin-right {
    margin-right: 0px;
}
.no-margin-bottom {
    margin-bottom: 0px;
}
.no-margin-top {
    margin-top: 0px;
}
.padding {
    padding: 6px;
}
.padding-side {
    padding-left: 6px;
    padding-right: 6px;
}
.padding-top {
    padding-top: 6px;
}
.padding-bottom {
    padding-bottom: 6px;
}
.margin {
    margin: 10px;
}
.margin-side {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-left {
    margin-left: 10px;
}
.margin-right {
    margin-right: 10px;
}
.margin-bottom {
    margin-bottom: 10px;
}
.margin-top {
    margin-top: 10px;
}
.margin2x {
    margin: 20px;
}
.margin-side2x {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-left2x {
    margin-left: 20px;
}
.margin-right2x {
    margin-right: 20px;
}
.margin-bottom2x {
    margin-bottom: 20px;
}
.margin-top2x {
    margin-top: 20px;
}
.margin14 {
    margin: 14px;
}
.margin-side14 {
    margin-left: 14px;
    margin-right: 14px;
}
.margin-left14 {
    margin-left: 14px;
}
.margin-right14 {
    margin-right: 14px;
}
.margin-bottom14 {
    margin-bottom: 14px;
}
.margin-top14 {
    margin-top: 14px;
}
hr.margin {
    margin: 40px 0;
}
.nowrap {
    white-space: nowrap;
}
.center {
    text-align: center !important;
}
.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.position-fixed {
    position: fixed;
}
.position-static {
    position: static;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}
.text-justify {
    text-align: justify !important;
}
.text-top {
    vertical-align: top;
}

.text-middle {
    vertical-align: middle;
}
.text-bottom {
    vertical-align: bottom;
}
.line-trought, .strike-through {
    text-decoration: line-through;
}
.align-bottom {
    vertical-align: bottom;
}
.align-bottom > div {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    margin-right: -0.25em;
}
.inline-block {
    display: inline-block;
}
.no-border {
    border: none;
}

/******************************************************************************
* product Forms
*****************************************************************************/
form {
    padding: 0 !Important
        margin: 0 !important;
    position: relative !Important;

}
.input-nano {
    min-width: 45px !Important;
    max-width: 50px !Important;
    text-align: right;
}
.input-group .form-control {
   min-width: 45px !Important;
}
.sc-products .input-group .form-control {
   text-align: right;
}

.form-control.text-right {
    min-width: 45px !Important;
    text-align: right;
}

.silvercart-add-cart-form-hint {
    z-index: 1;
}
.sc-products {
    margin-bottom: 15px;
}
.sc-products form {
    border-spacing: 0;
}

/* ============== .sc-products ============ */
.sc-products {
    list-style:none;
    *zoom: 1;
    margin:0;
    padding:0;
}
.sc-products li {
    margin-top:36px;

}
/* img */
.sc-products .card {
    -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.05);

}
.sc-products .card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.sc-products .thumbnail {
    position: relative;
    max-width: 98%;
    margin: 0 auto;
}
.sc-products .thumbnail a {
    display: inline-block;
}
/************** Product Cards ***********************/
.card-product .card-header {
    background-color: transparent;
    border: none;
    padding: 0.75rem 1.25rem;
}
.card-product .portrait-orientation .card-block {
    padding-top: 0px;
}

.card-product .card-title {
  max-width:  100%;
  overflow: visible;
  text-overflow: ellipsis;
  position: relative;
  z-index: 10;
}
.card-product .card-footer {
    background-color: transparent;
    border: none;
    padding: 0.75rem 1.25rem;
}
/*******************************************************************************
 *  Product Card responsive
 ******************************************************************************/
@media (min-width: 992px) and (max-width: 1550px) {
    .ProductGroupPageFourtile .card-product .card-header,.ProductGroupPageFourtile .card-footer, .ProductGroupPageFourtile .card-block {
        padding: 0.25rem 0.25rem;
    }
    .ProductGroupPageFourtile .card-product .card-title {
        font-size: 14px; line-height:16px;
        white-space: initial;
        width: inherit;
    }
}
@media (max-width: 992px) {
    .card-product .portrait-orientation .card-title {
        height: auto;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .ProductGroupPageFourtile .card-product .card-header,.ProductGroupPageFourtile .card-footer, .ProductGroupPageFourtile .card-block {
        padding: 0.25rem 0.25rem;
    }
    .ProductGroupPageFourtile .card-product .card-title {
        font-size: 14px; line-height:16px;
        white-space: initial;
        width: inherit;
    }
}
@media (min-width: 544px) and (max-width: 768px) {
    .ProductGroupPageFourtile .card-product .card-header,.ProductGroupPageFourtile .card-footer, .ProductGroupPageFourtile .card-block {
        padding: 0.10rem 0.10rem;
    }
    .ProductGroupPageFourtile .card-product .card-title {
        font-size: 12px; line-height:15px;
        white-space: initial;
        width: inherit;
    }
}
@media (max-width: 544px) {
     .ProductGroupPageFourtile .card-product .card-title {
        font-size: 18px;
        line-height:22px;
     }
}
/*******************************************************************************
 *  Product Tile
 ******************************************************************************/
.sc-products .silvercart-product-group-page-tile-item {
    padding-bottom: 5px;
}
.sc-products .silvercart-product-group-page-tile-item .card-header, .sc-products .silvercart-product-group-page-threetile-item .card-header {
    display:block;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.sc-products .silvercart-product-group-page-tile-item .card-block, .sc-products .silvercart-product-group-page-threetile-item .card-block {
    display:block;
    text-overflow:ellipsis;
    overflow:hidden;
    max-height:200px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.sc-products .silvercart-product-group-page-tile-item .thumbnail, .sc-products .silvercart-product-group-page-threetile-item .thumbnail {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.sc-products .silvercart-product-group-page-tile-item .card-footer {
    background-color: #fff;
    border: none;
}
.sc-products .card-block .dl-inline,
.sc-products .card-block .dl-inline dt,
.sc-products .card-block .dl-inline dd {
    display: inline-block !important;
}
/***************************************************************************
 *  Product List Meta
 **************************************************************************/
.productFilter {
    margin-bottom: 15px;
    margin-top: 15px;
}
.pagination {
    margin-top: 0px;
    margin-bottom: 0px;
}
.pagination + .productFilter {
    margin-top: 0px;
}
.silvercart-product-group-page-control-bottom .pagination {
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px dotted #ccc;
}
/* ===================== productFilter =================== */
.productFilter {
    padding: 5px 10px;
    background:#f0f0f0;
    border:1px solid #eaeaea;
}
.productFilter div {
    padding: 0 12px 0 0;
    margin:0;
}
@media screen and (max-width: 767px) {
    .productFilter {
        padding: 0;
    }
    .productFilter div {
        padding: 0 2px 0 0;
    }
}
.productFilter div:last-child {
    margin-right:0;
}
.productFilter select {
    max-width: 100%;
    height:auto;
    margin:0 0 0 2px;
}
.productFilter .compareItem button {
    margin-top: 30px;
}
@media (min-width: 544px) and (max-width: 768px) {
    .productFilter, .productFilter select {
        font-size: 0.7rem;
    }
    .productFilter .compareItem button {
        margin-top: 30px;
    }
}
@media (min-width: 0px) and (max-width: 544px) {
    .productFilter, .productFilter select {
        font-size: 0.6rem;
    }
    .productFilter .compareItem button {
        margin-top: 2px !important;
    }
    .sortBy {
        max-width: 50%;
    }
    .compareItem {
        padding: 0 0.5px !important;
    }
}
#sc-product-backlink {
    width:100%;
    margin: 10px 0 0 0;
}
.product-price, .price {
    font-size: 1.3rem;
    line-height: 1.1rem;
}
.product-price .line-trought, .product-price .strike-through {
    font-size: 1.0rem;
}
.price-offer {
    color: red;
}
.product-price small {
    font-size: 0.5rem;
}
.tag-availability {
    display: inline;
    font-size: inherit;
}
.silvercart-search-autocompletion-results ul li a .price {
    font-size: 0.8rem;
}
/* ================== Widgets ================================= */
.silvercart-widget-content-area .section-header h3 {
    margin: 16px 0 8px;
    border-bottom: 1px solid #eceeef;
}
aside .widget {
    margin-bottom: 25px;
}
aside > .silvercart-widget-content-area > [class*="col-"] {
    min-width: 150px;
    overflow: hidden;
}
aside > .silvercart-widget-content-area [class*="col-"] > .card-block {
    padding-left: 3px;
    padding-right: 3px;
}
.silvercart-pagelist-widget .card {
    width: 100%;
}
.silvercart-pagelist-widget .widget-image img {
    position: absolute;
    top: -15px;
    right: 0px;
}
.silvercart-pagelist-widget .card-title {
    font-size: 1.2rem;
}
@media (min-width: 544px) and (max-width: 768px) {
    .silvercart-pagelist-widget .card-title {
        font-size: 0.9rem;
    }
}
@media (min-width: 544px) and (max-width: 1140px) {
    .widget .table td, .widget .table th {
        padding: 0.05rem;
    }
}
.silvercart-product-group-navigation-widget .active.section, .silvercart-product-group-navigation-widget .active-section .active-section  {
    -moz-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
}
.silvercart-product-group-navigation-widget .active + .list-group {
    -moz-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
    padding-bottom: 0;
    margin-bottom: 20px;
}
.silvercart-product-group-navigation-widget .nav.list-group .nav.list-group a {
    padding-left: 2rem;
}
@media (min-width: 544px) and (max-width: 1140px) {
    .silvercart-product-group-navigation-widget .tag  {
        position: absolute;
        right: 2px;
        bottom: 2px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        z-index: 2;
    }
}
/* ===================== Tables ================ */
table caption {
    caption-side: top;
}
/*===================== Shoping Cart Table Responsive ================*/
@media only screen and (max-width: 544px) {
    .silvercart-shopping-cart-full table,
    .silvercart-shopping-cart-full thead,
    .silvercart-shopping-cart-full tbody,
    .silvercart-shopping-cart-full th,
    .silvercart-shopping-cart-full td,
    .silvercart-shopping-cart-full tr {
        display: block;
    }
    .silvercart-shopping-cart-full thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .silvercart-shopping-cart-full tr {
        border: 1px solid #ccc;
    }
    .silvercart-shopping-cart-full td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 30%;
        white-space: normal;
        text-align:left;
    }
    .silvercart-shopping-cart-full td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    .silvercart-shopping-cart-full td:before {
        content: attr(data-title);
    }
}
.silvercart-default-table colgroup col:nth-child(1){
    width:20%;
}
.silvercart-default-table colgroup col:nth-child(2){
    width:65%;
}
.silvercart-default-table colgroup col:nth-child(3){
    width:15%;
}
.silvercart-default-table.attributes colgroup col:nth-child(2){
    width:80%;
}
.silvercart-widget-search-cloud li {
    display: inline;
}
.dropdown-menu {
    z-index: 10001;
    min-width: 200px;
    left: -50%;
}
/********* Address management **********/
.address-list .card {
    min-height: 250px;
}
.address-list .card-btn-bar {
    position: absolute;
    bottom: 10px;
}
@media (max-width: 2350px) {
    .address-list .card {
        min-height: 265px;
    }
}
/* product group images */
figure.effect-overlay {
    position: relative;
    overflow: hidden;
    margin: 24px 1% 0px 1%;
    background: #fff;
    text-align: center;
}
figure.effect-overlay img.img-fluid {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
}
figure.effect-overlay figcaption {
    padding: 3% 2% 10% 2%;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure.effect-overlay figcaption::before,
figure.effect-overlay figcaption::after {
    pointer-events: none;
}
figure.effect-overlay figcaption .btn {
    white-space: normal;
}
figure.effect-overlay h2 , figure.effect-overlay p {
    word-spacing: -0.15em;
    text-transform: uppercase;
}
figure.effect-overlay p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
figure.effect-overlay {
    background: #f5f5f5;
    cursor: pointer;
}
figure.effect-overlay > a {
    display: block;
}
figure.effect-overlay img.img-fluid {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    display: inline-table;
    width: 100%;
    padding: 2%;
}
figure.effect-overlay .manufacturerlogo {
    position:absolute;
    bottom: 10%;
    right: 10%;
}
figure.effect-overlay:hover img {
    opacity: 0.15;
}
figure.effect-overlay figcaption::before,
figure.effect-overlay figcaption::after {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-overlay figcaption::before {
    border-top: 1px solid #B0000A;
    border-bottom: 1px solid #B0000A;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
figure.effect-overlay figcaption::after {
    border-right: 1px solid #B0000A;
    border-left: 1px solid #B0000A;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}
figure.effect-overlay h2 {
    padding-top: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}
figure.effect-overlay p {
    padding: 5%;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
figure.effect-overlay:hover figcaption::before,
figure.effect-overlay:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect-overlay:hover h2,
figure.effect-overlay:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
@media (min-width: 1140px) and (max-width: 1480px) {
    figure.effect-overlay {
        min-height: 130px;
    }
    figure.effect-overlay h2, figure.effect-overlay .btn {
        font-weight: 400;
        font-size: 9px;
        white-space: initial;
        max-width: 100%;
    }
    figure.effect-overlay p {
        letter-spacing: 1px;
        font-size: 50.5%;
        padding: 0 5%;
    }
}
@media (min-width: 544px) and (max-width: 1140px) {
    figure.effect-overlay {
        min-height: 130px;
    }
    figure.effect-overlay h2, figure.effect-overlay .btn {
        font-weight: 300;
        font-size: 8px;
        white-space: initial;
    }
    figure.effect-overlay p {
        letter-spacing: 0.5px;
        font-size: 50.5%;
        padding: 0 5%;
    }
}
@media screen and (max-width: 544px) {
    figure.effect-overlay {
        min-height: 130px;
    }
    figure.effect-overlay h2,figure.effect-overlay span, figure.effect-overlay btn {
        letter-spacing: 0.5px;
        font-size: 11px;
    }
    figure.effect-overlay p {
        letter-spacing: 1px;
        font-size: 50.5%;
    }
    figure.effect-overlay h2 span {
        font-weight: 400;
    }
}
/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
    padding: 0px;
}

.yamm .yamm-content {
    padding: 20px 30px;
}

.yamm .yamm-content .col-md-9 .row {
    padding-top: 15px;
}
.yamm .yamm-content > div {
    margin-bottom: 10px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

/* own Changes */
.navbar.yamm {
    background-color: #f0f0f0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border:none;
    padding: 0 !Important;
    min-height: 49px;
}
.yamm.navbar {
    background-color: #f0f0f0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border:none;
    padding: 0 !Important;
    min-height: 49px;
}
.yamm .dropdown-menu {
    border: none;
    /*background: rgba(240,240,240, 0.97);*/
    background-color: #f0f0f0;
    left: auto;
    top: auto;
    max-height: 450px;
    overflow: auto;
    margin-top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
}
.yamm .navbar-nav .nav-stacked .nav-item {
    float: none !Important;
}

.yamm .nav.navbar-nav > .nav-item > .nav-link {
    font-weight: 600;
    line-height: 20px;
    min-height: 50px;
    padding: 12px 2px 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.yamm .dropdown-menu li [class^="icon-"], .yamm .dropdown-menu li [class*=" icon-"] {
    display: none;
}


.yamm a, .yamm link, .yamm a:visited {
    text-decoration: none;
    width: 100%;
    display: block;
}
/* make open link icon to bottom */
.yamm .dropdown-toggle::after {
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    margin: 0 auto 0;
    padding-top: 0;
    text-align: center;
    vertical-align: top;
    width: 0;
}
.yamm .dropdown-toggle:hover .dropdown-menu {
    display: block !Important;
}
.yamm .nav li.link a:hover {
    text-decoration: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
}
.yamm .heading {
    min-height: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.yamm a.heading {
    display: block;
    text-align: center;
    font-weight: 500;
     padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.yamm a.heading.section, .yamm a.heading.section:focus, .yamm a.heading.section:hover, .yamm a.heading.section:visited {
    font-weight: bold;
}

.yamm a.heading.active, .yamm a.heading.active:focus, .yamm a.heading.active:hover, .yamm a.heading.active:visited {
   background-color: #B0000A;
    background-image: linear-gradient(to bottom, #9a0e17, #d81313);
    border: none;
    color: #fff;
    font-weight: bold;
}

.yamm ul.navbar-nav > li  {
    text-align: center;
    vertical-align: top;
}

.yamm .carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > img {
    width: 100%;
}
.yamm .list-group-item {
   background-color: transparent;
   padding: 0.5rem 0.8rem
}

.yamm .yamm-content .row {
    margin-bottom: 5px;
}

.yamm .yamm-content .list-group, .yamm .yamm-content .heading {
   background: #fff;
}
.yamm .yamm-content .tag  {
   position: absolute;
   right: 5px;
   bottom: -6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}


/** Display  Sub Sub Menu onHover **/
.nav.list-group.dropdown-menu {
    position: relative;
    width: 100%;
}
@media (max-width: 768px) {
    .yamm ul.navbar-nav {
        display: block !Important;
        width: 100% !Important;
    }
    .yamm .nav.navbar-nav > .nav-item > .nav-link {
        font-size: 10px;
        font-weight: 500;
        line-height: 11px;
        min-height: 25px;
        padding: 8px !important;
        border-bottom: 1px dashed darkgrey;
    } 
    .yamm a.heading{
        font-size: 10px;
        font-weight: 500;
        line-height: 10px;
        min-height: 25px;
        padding: 5px !important;
    } 
   .yamm .yamm-content {
    padding: 10px 5px;
  }
}
  .navbar-toggler-right {
    position: absolute;
    right: 1rem;
}
 /****** MENU ANIMATION SPEED *********************************
 ********************************************************
 ********************************************************/
 #mainnav .dropdown > a {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#mainnav .dropdown-menu.animated {
  /* Speed up animations */
  -webkit-animation-duration: 0.55s;
  animation-duration: 0.55s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  /*
   * @see:
   * Animation duration: http://www.w3schools.com/cssref/css3_pr_animation-duration.asp
   * Animation timing: http://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp
   */
}

#mainnav .dropdown-menu.animated.fadeIn {
  /*
   * Example of further customisation for the "fadeIn" effect
   * Can be used for all effects ie. .dropdown-menu.animated.EFFECTNAME
   */
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@media only screen and (min-width : 1280px) {
    .carousel[id^="carousel-widget-"] {
        margin: 0 auto 10px auto;
        max-width: 1280px;
    }
}
.carousel[id^="carousel-widget-"]:hover {
    cursor: pointer;
}
.carousel[id^="carousel-widget-"] .carousel-indicators {
    top: 20px !Important;   
    max-height: 30px;
}
.carousel[id^="carousel-widget-"] .carousel-indicators li {
    border: 1px solid #666;
}
.carousel[id^="carousel-widget-"] .carousel-control.right,
.carousel[id^="carousel-widget-"] .carousel-control.left {
    background-image: none;
}
.carousel[id^="carousel-widget-"] .carousel .item {
    min-height: 350px; 
    height: 100%;
    width:100%; 
}
.carousel[id^="carousel-widget-"] .carousel-item {
    transition: -webkit-transform 0.5s ease !important;
    transition: transform 0.5s ease !important;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease !important;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}
.carousel[id^="carousel-widget-"] .carousel-inner > .carousel-item > a > img {
    width: 100%;
}
.carousel[id^="carousel-widget-"] .carousel-caption {
    padding: 0;
    right: 13%;
    top: 30%;
}
.carousel[id^="carousel-widget-"] .carousel-caption .h2,
.carousel[id^="carousel-widget-"] .carousel .icon-container,
.carousel[id^="carousel-widget-"] .carousel-caption .btn {
    color: #666;
    background-color: rgba(620,900,490, 0.95);
}
.carousel[id^="carousel-widget-"] .carousel-caption .h2 {
  max-width: 650px;  
}
.carousel[id^="carousel-widget-"] .carousel-caption .h6 {
        color: #fff;
    background-color: rgba(0,0,0, 0.90);
    font-size: 12px;
        max-width: 800px;
}
.carousel[id^="carousel-widget-"] .carousel-caption .h2 a i {
    background: #fdde32 none repeat scroll 0 0;
    font-size: 30px;
    left: 0;
    line-height: 65px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
}
.carousel[id^="carousel-widget-"] .carousel-caption .h2,
.carousel[id^="carousel-widget-"] .carousel-caption .h6 {
    padding: .5em;
    display: block;
}
.carousel[id^="carousel-widget-"] .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel[id^="carousel-widget-"] .carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em; 
}
.carousel-caption .h2:first-child {
    font-size: 30px;
}
.carousel-caption .h2:nth-child(2) {
    font-size: 15px;
}
@media (max-width: 850px) {
    .carousel-caption .h2:first-child {
        font-size: 10%;
    }
    .carousel[id^="carousel-widget-"] .carousel-caption .h6 {
        font-size: 9px;
        max-width: 400px;
    }
    .carousel[id^="carousel-widget-"] .carousel-caption .h2 a i {
        font-size: 15px;
        left: 0;
        line-height: 20px;
        width: 20px;
    }
}
.carousel .carousel-inner .vertical{
  height: 100%;
}
.carousel .vertical .carousel-item {
    -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
  left:               0;
}
.carousel .vertical .active {
  top: 0;
}
.carousel-caption .h2:first-child {
    animation-delay: 1s;
}
.carousel-caption .h2:nth-child(2) {
    animation-delay: 1s;
}
.carousel-caption .h6:first-child {
    animation-delay: 2s;
}
.carousel-caption .h6:nth-child(2) {
    animation-delay: 2s;
}
.carousel-caption .btn {
    animation-delay: 5s;
}

/* xs */
.no-padding-xs {
    padding: 0px;
}
.no-padding-side-xs {
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding-top-xs {
    padding-top: 0px;
}
.no-padding-bottom-xs {
    padding-bottom: 0px;
}
.no-margin-xs {
    margin: 0px;
}
.no-margin-side-xs {
    margin-left: 0px;
    margin-right: 0px;
}
.no-margin-left-xs {
    margin-left: 0px;
}
.no-margin-right-xs {
    margin-right: 0px;
}
.no-margin-bottom-xs {
    margin-bottom: 0px;
}
.no-margin-top-xs {
    margin-top: 0px;
}
.padding-xs {
    padding: 6px;
}
.padding-side-xs {
    padding-left: 6px;
    padding-right: 6px;
}
.padding-top-xs {
    padding-top: 6px;
}
.padding-bottom-xs{
    padding-bottom: 6px;
}
.margin-xs {
    margin: 10px;
}
.margin-side-xs {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-left-xs {
    margin-left: 10px;
}
.margin-right-xs {
    margin-right: 10px;
}
.margin-bottom-xs {
    margin-bottom: 10px;
}
.margin-top-xs {
    margin-top: 10px;
}
.margin2x-xs {
    margin: 20px;
}
.margin-side2x-xs {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-left2x-xs {
    margin-left: 20px;
}
.margin-right2x-xs {
    margin-right: 20px;
}
.margin-bottom2x-xs {
    margin-bottom: 20px;
}
.margin-top2x-xs {
    margin-top: 20px;
}
.margin14-xs {
    margin: 14px;
}
.margin-side14-xs {
    margin-left: 14px;
    margin-right: 14px;
}
.margin-left14-xs {
    margin-left: 14px;
}
.margin-right14-xs {
    margin-right: 14px;
}
.margin-bottom14-xs {
    margin-bottom: 14px;
}
.margin-top14-xs {
    margin-top: 14px;
}
/* sm */
@media (min-width: 544px) {
    .no-padding-sm {
        padding: 0px;
    }
    .no-padding-side-sm {
        padding-left: 0px;
        padding-right: 0px;
    }
    .no-padding-top-sm {
        padding-top: 0px;
    }
    .no-padding-bottom-sm {
        padding-bottom: 0px;
    }
    .no-margin-sm {
        margin: 0px;
    }
    .no-margin-side-sm {
        margin-left: 0px;
        margin-right: 0px;
    }
    .no-margin-left-sm {
        margin-left: 0px;
    }
    .no-margin-right-sm {
        margin-right: 0px;
    }
    .no-margin-bottom-sm {
        margin-bottom: 0px;
    }
    .no-margin-top-sm {
        margin-top: 0px;
    }
    .padding-sm {
        padding: 6px;
    }
    .padding-side-sm {
        padding-left: 6px;
        padding-right: 6px;
    }
    .padding-top-sm {
        padding-top: 6px;
    }
    .padding-bottom-sm{
        padding-bottom: 6px;
    }
    .margin-sm {
        margin: 10px;
    }
    .margin-side-sm {
        margin-left: 10px;
        margin-right: 10px;
    }
    .margin-left-sm {
        margin-left: 10px;
    }
    .margin-right-sm {
        margin-right: 10px;
    }
    .margin-bottom-sm {
        margin-bottom: 10px;
    }
    .margin-top-sm {
        margin-top: 10px;
    }
    .margin2x-sm {
        margin: 20px;
    }
    .margin-side2x-sm {
        margin-left: 20px;
        margin-right: 20px;
    }
    .margin-left2x-sm {
        margin-left: 20px;
    }
    .margin-right2x-sm {
        margin-right: 20px;
    }
    .margin-bottom2x-sm {
        margin-bottom: 20px;
    }
    .margin-top2x-sm {
        margin-top: 20px;
    }
    .margin14-sm {
        margin: 14px;
    }
    .margin-side14-sm {
        margin-left: 14px;
        margin-right: 14px;
    }
    .margin-left14-sm {
        margin-left: 14px;
    }
    .margin-right14-sm {
        margin-right: 14px;
    }
    .margin-bottom14-sm {
        margin-bottom: 14px;
    }
    .margin-top14-sm {
        margin-top: 14px;
    }
}
/* md */
@media (min-width: 768px) {
    .no-padding-md {
        padding: 0px;
    }
    .no-padding-side-md {
        padding-left: 0px;
        padding-right: 0px;
    }
    .no-padding-top-md {
        padding-top: 0px;
    }
    .no-padding-bottom-md {
        padding-bottom: 0px;
    }
    .no-margin-md {
        margin: 0px;
    }
    .no-margin-side-md {
        margin-left: 0px;
        margin-right: 0px;
    }
    .no-margin-left-md {
        margin-left: 0px;
    }
    .no-margin-right-md {
        margin-right: 0px;
    }
    .no-margin-bottom-md {
        margin-bottom: 0px;
    }
    .no-margin-top-md {
        margin-top: 0px;
    }
    .padding-md {
        padding: 6px;
    }
    .padding-side-md {
        padding-left: 6px;
        padding-right: 6px;
    }
    .padding-top-md {
        padding-top: 6px;
    }
    .padding-bottom-md{
        padding-bottom: 6px;
    }
    .margin-md {
        margin: 10px;
    }
    .margin-side-md {
        margin-left: 10px;
        margin-right: 10px;
    }
    .margin-left-md {
        margin-left: 10px;
    }
    .margin-right-md {
        margin-right: 10px;
    }
    .margin-bottom-md {
        margin-bottom: 10px;
    }
    .margin-top-md {
        margin-top: 10px;
    }
    .margin2x-md {
        margin: 20px;
    }
    .margin-side2x-md {
        margin-left: 20px;
        margin-right: 20px;
    }
    .margin-left2x-md {
        margin-left: 20px;
    }
    .margin-right2x-md {
        margin-right: 20px;
    }
    .margin-bottom2x-md {
        margin-bottom: 20px;
    }
    .margin-top2x-md {
        margin-top: 20px;
    }
    .margin14-md {
        margin: 14px;
    }
    .margin-side14-md {
        margin-left: 14px;
        margin-right: 14px;
    }
    .margin-left14-md {
        margin-left: 14px;
    }
    .margin-right14-md {
        margin-right: 14px;
    }
    .margin-bottom14-md {
        margin-bottom: 14px;
    }
    .margin-top14-md {
        margin-top: 14px;
    }
}
/* lg */
@media (min-width: 992px) {
    .no-padding-lg {
        padding: 0px;
    }
    .no-padding-side-lg {
        padding-left: 0px;
        padding-right: 0px;
    }
    .no-padding-top-lg {
        padding-top: 0px;
    }
    .no-padding-bottom-lg {
        padding-bottom: 0px;
    }
    .no-margin-lg {
        margin: 0px;
    }
    .no-margin-side-lg {
        margin-left: 0px;
        margin-right: 0px;
    }
    .no-margin-left-lg {
        margin-left: 0px;
    }
    .no-margin-right-lg {
        margin-right: 0px;
    }
    .no-margin-bottom-lg {
        margin-bottom: 0px;
    }
    .no-margin-top-lg {
        margin-top: 0px;
    }
    .padding-lg {
        padding: 6px;
    }
    .padding-side-lg {
        padding-left: 6px;
        padding-right: 6px;
    }
    .padding-top-lg {
        padding-top: 6px;
    }
    .padding-bottom-lg{
        padding-bottom: 6px;
    }
    .margin-lg {
        margin: 10px;
    }
    .margin-side-lg {
        margin-left: 10px;
        margin-right: 10px;
    }
    .margin-left-lg {
        margin-left: 10px;
    }
    .margin-right-lg {
        margin-right: 10px;
    }
    .margin-bottom-lg {
        margin-bottom: 10px;
    }
    .margin-top-lg {
        margin-top: 10px;
    }
    .margin2x-lg {
        margin: 20px;
    }
    .margin-side2x-lg {
        margin-left: 20px;
        margin-right: 20px;
    }
    .margin-left2x-lg {
        margin-left: 20px;
    }
    .margin-right2x-lg {
        margin-right: 20px;
    }
    .margin-bottom2x-lg {
        margin-bottom: 20px;
    }
    .margin-top2x-lg {
        margin-top: 20px;
    }
    .margin14-lg {
        margin: 14px;
    }
    .margin-side14-lg {
        margin-left: 14px;
        margin-right: 14px;
    }
    .margin-left14-lg {
        margin-left: 14px;
    }
    .margin-right14-lg {
        margin-right: 14px;
    }
    .margin-bottom14-lg {
        margin-bottom: 14px;
    }
    .margin-top14-lg {
        margin-top: 14px;
    }
}
/* xl */
@media (min-width: 1200px) {
    .no-padding-xl {
        padding: 0px;
    }
    .no-padding-side-xl {
        padding-left: 0px;
        padding-right: 0px;
    }
    .no-padding-top-xl {
        padding-top: 0px;
    }
    .no-padding-bottom-xl {
        padding-bottom: 0px;
    }
    .no-margin-xl {
        margin: 0px;
    }
    .no-margin-side-xl {
        margin-left: 0px;
        margin-right: 0px;
    }
    .no-margin-left-xl {
        margin-left: 0px;
    }
    .no-margin-right-xl {
        margin-right: 0px;
    }
    .no-margin-bottom-xl {
        margin-bottom: 0px;
    }
    .no-margin-top-xl {
        margin-top: 0px;
    }
    .padding-xl {
        padding: 6px;
    }
    .padding-side-xl {
        padding-left: 6px;
        padding-right: 6px;
    }
    .padding-top-xl {
        padding-top: 6px;
    }
    .padding-bottom-xl{
        padding-bottom: 6px;
    }
    .margin-xl {
        margin: 10px;
    }
    .margin-side-xl {
        margin-left: 10px;
        margin-right: 10px;
    }
    .margin-left-xl {
        margin-left: 10px;
    }
    .margin-right-xl {
        margin-right: 10px;
    }
    .margin-bottom-xl {
        margin-bottom: 10px;
    }
    .margin-top-xl {
        margin-top: 10px;
    }
    .margin2x-xl {
        margin: 20px;
    }
    .margin-side2x-xl {
        margin-left: 20px;
        margin-right: 20px;
    }
    .margin-left2x-xl {
        margin-left: 20px;
    }
    .margin-right2x-xl {
        margin-right: 20px;
    }
    .margin-bottom2x-xl {
        margin-bottom: 20px;
    }
    .margin-top2x-xl {
        margin-top: 20px;
    }
    .margin14-xl {
        margin: 14px;
    }
    .margin-side14-xl {
        margin-left: 14px;
        margin-right: 14px;
    }
    .margin-left14-xl {
        margin-left: 14px;
    }
    .margin-right14-xl {
        margin-right: 14px;
    }
    .margin-bottom14-xl {
        margin-bottom: 14px;
    }
    .margin-top14-xl {
        margin-top: 14px;
    }
}
/* xxl */
@media (min-width: 1681px) {
    .no-padding-xxl {
        padding: 0px;
    }
    .no-padding-side-xxl {
        padding-left: 0px;
        padding-right: 0px;
    }
    .no-padding-top-xxl {
        padding-top: 0px;
    }
    .no-padding-bottom-xxl {
        padding-bottom: 0px;
    }
    .no-margin-xxl {
        margin: 0px;
    }
    .no-margin-side-xxl {
        margin-left: 0px;
        margin-right: 0px;
    }
    .no-margin-left-xxl {
        margin-left: 0px;
    }
    .no-margin-right-xxl {
        margin-right: 0px;
    }
    .no-margin-bottom-xxl {
        margin-bottom: 0px;
    }
    .no-margin-top-xxl {
        margin-top: 0px;
    }
    .padding-xxl {
        padding: 6px;
    }
    .padding-side-xxl {
        padding-left: 6px;
        padding-right: 6px;
    }
    .padding-top-xxl {
        padding-top: 6px;
    }
    .padding-bottom-xxl{
        padding-bottom: 6px;
    }
    .margin-xxl {
        margin: 10px;
    }
    .margin-side-xxl {
        margin-left: 10px;
        margin-right: 10px;
    }
    .margin-left-xxl {
        margin-left: 10px;
    }
    .margin-right-xxl {
        margin-right: 10px;
    }
    .margin-bottom-xxl {
        margin-bottom: 10px;
    }
    .margin-top-xxl {
        margin-top: 10px;
    }
    .margin2x-xxl {
        margin: 20px;
    }
    .margin-side2x-xxl {
        margin-left: 20px;
        margin-right: 20px;
    }
    .margin-left2x-xxl {
        margin-left: 20px;
    }
    .margin-right2x-xxl {
        margin-right: 20px;
    }
    .margin-bottom2x-xxl {
        margin-bottom: 20px;
    }
    .margin-top2x-xxl {
        margin-top: 20px;
    }
    .margin14-xxl {
        margin: 14px;
    }
    .margin-side14-xxl {
        margin-left: 14px;
        margin-right: 14px;
    }
    .margin-left14-xxl {
        margin-left: 14px;
    }
    .margin-right14-xxl {
        margin-right: 14px;
    }
    .margin-bottom14-xxl {
        margin-bottom: 14px;
    }
    .margin-top14-xxl {
        margin-top: 14px;
    }
}

/* bootstrap extension */
@media (min-width: 1681px) {
  .hidden-xxl-up {
    display: none !important;
  }
  .col-xxl-1 {
    float: left;
    width: 8.333333%;
  }
  .col-xxl-2 {
    float: left;
    width: 16.666667%;
  }
  .col-xxl-3 {
    float: left;
    width: 25%;
  }
  .col-xxl-4 {
    float: left;
    width: 33.333333%;
  }
  .col-xxl-5 {
    float: left;
    width: 41.666667%;
  }
  .col-xxl-6 {
    float: left;
    width: 50%;
  }
  .col-xxl-7 {
    float: left;
    width: 58.333333%;
  }
  .col-xxl-8 {
    float: left;
    width: 66.666667%;
  }
  .col-xxl-9 {
    float: left;
    width: 75%;
  }
  .col-xxl-10 {
    float: left;
    width: 83.333333%;
  }
  .col-xxl-11 {
    float: left;
    width: 91.666667%;
  }
  .col-xxl-12 {
    float: left;
    width: 100%;
  }
  .pull-xxl-0 {
    right: auto;
  }
  .pull-xxl-1 {
    right: 8.333333%;
  }
  .pull-xxl-2 {
    right: 16.666667%;
  }
  .pull-xxl-3 {
    right: 25%;
  }
  .pull-xxl-4 {
    right: 33.333333%;
  }
  .pull-xxl-5 {
    right: 41.666667%;
  }
  .pull-xxl-6 {
    right: 50%;
  }
  .pull-xxl-7 {
    right: 58.333333%;
  }
  .pull-xxl-8 {
    right: 66.666667%;
  }
  .pull-xxl-9 {
    right: 75%;
  }
  .pull-xxl-10 {
    right: 83.333333%;
  }
  .pull-xxl-11 {
    right: 91.666667%;
  }
  .pull-xxl-12 {
    right: 100%;
  }
  .push-xxl-0 {
    left: auto;
  }
  .push-xxl-1 {
    left: 8.333333%;
  }
  .push-xxl-2 {
    left: 16.666667%;
  }
  .push-xxl-3 {
    left: 25%;
  }
  .push-xxl-4 {
    left: 33.333333%;
  }
  .push-xxl-5 {
    left: 41.666667%;
  }
  .push-xxl-6 {
    left: 50%;
  }
  .push-xxl-7 {
    left: 58.333333%;
  }
  .push-xxl-8 {
    left: 66.666667%;
  }
  .push-xxl-9 {
    left: 75%;
  }
  .push-xxl-10 {
    left: 83.333333%;
  }
  .push-xxl-11 {
    left: 91.666667%;
  }
  .push-xxl-12 {
    left: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0%;
  }
  .offset-xxl-1 {
    margin-left: 8.333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.666667%;
  }
}