
/*********************************************/
/*********************************************/
/**                                         **/
/** TWITTER BOOTSTRAP ALIKE EXTENSIONS HERE **/
/**                                         **/
/*********************************************/
/*********************************************/

.position-absolute.top            { top: 0; }
.position-absolute.top-0          { top: 0px; }
.position-absolute.top-1          { top: 1px; }
.position-absolute.top-2          { top: 2px; }
.position-absolute.top-3          { top: 3px; }
.position-absolute.top-4          { top: 4px; }
.position-absolute.top-5          { top: 5px; }
.position-absolute.top-right      { top: 0; right: 0; }
.position-absolute.top-right-0    { top: 0px; right: 0px; }
.position-absolute.top-right-1    { top: 1px; right: 1px; }
.position-absolute.top-right-2    { top: 2px; right: 2px; }
.position-absolute.top-right-3    { top: 3px; right: 3px; }
.position-absolute.top-right-4    { top: 4px; right: 4px; }
.position-absolute.top-right-5    { top: 5px; right: 5px; }
.position-absolute.top-left       { top: 0; left: 0; }
.position-absolute.top-left-0     { top: 0; left: 0; }
.position-absolute.top-left-1     { top: 1px; left: 1px; }
.position-absolute.top-left-2     { top: 2px; left: 2px; }
.position-absolute.top-left-3     { top: 3px; left: 3px; }
.position-absolute.top-left-4     { top: 4px; left: 4px; }
.position-absolute.top-left-5     { top: 5px; left: 5px; }
.position-absolute.bottom         { bottom: 0; }
.position-absolute.bottom-0       { bottom: 0; }
.position-absolute.bottom-1       { bottom: 1px; }
.position-absolute.bottom-2       { bottom: 2px; }
.position-absolute.bottom-3       { bottom: 3px; }
.position-absolute.bottom-4       { bottom: 4px; }
.position-absolute.bottom-5       { bottom: 5px; }
.position-absolute.bottom-right   { bottom: 0; right: 0; }
.position-absolute.bottom-right-0 { bottom: 0; right: 0; }
.position-absolute.bottom-right-1 { bottom: 1px; right: 1px; }
.position-absolute.bottom-right-2 { bottom: 2px; right: 2px; }
.position-absolute.bottom-right-3 { bottom: 3px; right: 3px; }
.position-absolute.bottom-right-4 { bottom: 4px; right: 4px; }
.position-absolute.bottom-right-5 { bottom: 5px; right: 5px; }
.position-absolute.bottom-left    { bottom: 0; left: 0; }
.position-absolute.bottom-left-0  { bottom: 0; left: 0; }
.position-absolute.bottom-left-1  { bottom: 1px; left: 1px; }
.position-absolute.bottom-left-2  { bottom: 2px; left: 2px; }
.position-absolute.bottom-left-3  { bottom: 3px; left: 3px; }
.position-absolute.bottom-left-4  { bottom: 4px; left: 4px; }
.position-absolute.bottom-left-5  { bottom: 5px; left: 5px; }
.position-absolute.left           { left: 0; }
.position-absolute.left-0         { left: 0px; }
.position-absolute.left-1         { left: 1px; }
.position-absolute.left-2         { left: 2px; }
.position-absolute.left-3         { left: 3px; }
.position-absolute.left-4         { left: 4px; }
.position-absolute.left-5         { left: 5px; }
.position-absolute.right          { right: 0; }
.position-absolute.right-0        { right: 0px; }
.position-absolute.right-1        { right: 1px; }
.position-absolute.right-2        { right: 2px; }
.position-absolute.right-3        { right: 3px; }
.position-absolute.right-4        { right: 4px; }
.position-absolute.right-5        { right: 5px; }

.fa-checkoutstep1:before       { content: "\f023"; }
.fa-checkoutstep2:before       { content: "\f007"; }
.fa-checkoutstep3:before       { content: "\f0ac"; }
.fa-checkoutstep4:before       { content: "\f0b1"; }
.fa-checkoutstep5:before       { content: "\f046"; }
.fa-checkoutstep6:before       { content: "\f00c"; }
.fa-groupview-tile:before      { content: "\f009"; }
.fa-groupview-fourtile:before  { content: "\f0ce"; }
.fa-groupview-threetile:before { content: "\f00a"; }
.fa-groupview-list:before      { content: "\f00b"; }

.text-line-through { text-decoration: line-through; }

.text-big    { font-size: 1.4em; }
.text-big-0  { font-size: 1.4em; }
.text-big-1  { font-size: 1.6em; }
.text-big-2  { font-size: 1.8em; }
.text-big-3  { font-size: 2.0em; }
.text-big-4  { font-size: 2.2em; }
.text-big-5  { font-size: 2.4em; }
.text-big-6  { font-size: 2.6em; }
.text-big-7  { font-size: 2.8em; }
.text-big-8  { font-size: 3.0em; }
.text-big-9  { font-size: 3.2em; }
.text-big-10 { font-size: 3.4em; }

ul.level-1 .nav-link { margin-left: 1rem; }
ul.level-2 .nav-link { margin-left: 1.5rem; }
ul.level-3 .nav-link { margin-left: 2.0rem; }
ul.level-4 .nav-link { margin-left: 2.5rem; }
ul.level-5 .nav-link { margin-left: 3.0rem; }
ul.level-6 .nav-link { margin-left: 3.5rem; }
ul.level-7 .nav-link { margin-left: 4.0rem; }
ul.level-8 .nav-link { margin-left: 4.5rem; }

/*********************************************/
/*********************************************/
/**                                         **/
/**       INDEPENDENT CSS STYLES HERE       **/
/**                                         **/
/*********************************************/
/*********************************************/

.left-icon-bar { position: fixed; right: 0.5rem; left: auto; top: 60px; z-index: 1000; display: none; }

/* Animated product group holder [tile] */
figure.effect-overlay {
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center;
    cursor: pointer;
}
figure.effect-overlay img.img-fluid {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
}
figure.effect-overlay figcaption {
    padding: 3% 2% 10% 2%;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure.effect-overlay figcaption::before,
figure.effect-overlay figcaption::after {
    pointer-events: none;
}
figure.effect-overlay figcaption .btn {
    white-space: normal;
}
figure.effect-overlay h2 , figure.effect-overlay p {
    text-transform: uppercase;
}
figure.effect-overlay p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
figure.effect-overlay {
    background: #f5f5f5;
}
figure.effect-overlay img.img-fluid {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    display: inline-table;
    width: 100%;
    padding: 2%;
}
figure.effect-overlay .manufacturerlogo {
    position:absolute;
    bottom: 10%;
    right: 10%;
}
figure.effect-overlay:hover img {
    opacity: 0.15;
}
figure.effect-overlay figcaption::before,
figure.effect-overlay figcaption::after {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-overlay figcaption::before {
    border-top: 1px solid #B0000A;
    border-bottom: 1px solid #B0000A;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
figure.effect-overlay figcaption::after {
    border-right: 1px solid #B0000A;
    border-left: 1px solid #B0000A;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}
figure.effect-overlay h2 {
    padding-top: 5%;
    margin-bottom: 0.25rem;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20%,0);
    transform: translate3d(0,-20%,0);
}
figure.effect-overlay p {
    max-height: 60%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-20%,0);
    transform: translate3d(0,-20%,0);
}
figure.effect-overlay .btn-footer {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-overlay:hover figcaption::before,
figure.effect-overlay:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect-overlay:hover h2,
figure.effect-overlay:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-overlay:hover .btn-footer {
    -webkit-transform: translate3d(0,-30%,0);
    transform: translate3d(0,-30%,0);
}
@media (min-width: 1140px) and (max-width: 1480px) {
    figure.effect-overlay {
        min-height: 130px;
    }
    figure.effect-overlay h2, figure.effect-overlay .btn {
        font-weight: 400;
        font-size: 9px;
        white-space: initial;
        max-width: 100%;
    }
    figure.effect-overlay p {
        letter-spacing: 1px;
        font-size: 50.5%;
        padding: 0 5%;
    }
}
@media (min-width: 544px) and (max-width: 1140px) {
    figure.effect-overlay {
        min-height: 130px;
    }
    figure.effect-overlay h2, figure.effect-overlay .btn {
        font-weight: 300;
        font-size: 8px;
        white-space: initial;
    }
    figure.effect-overlay p {
        letter-spacing: 0.5px;
        font-size: 50.5%;
        padding: 0 5%;
    }
}
@media screen and (max-width: 544px) {
    figure.effect-overlay {
        min-height: 130px;
    }
    figure.effect-overlay h2,figure.effect-overlay span, figure.effect-overlay btn {
        letter-spacing: 0.5px;
        font-size: 11px;
    }
    figure.effect-overlay p {
        letter-spacing: 1px;
        font-size: 50.5%;
    }
    figure.effect-overlay h2 span {
        font-weight: 400;
    }
}

/*********************************************/
/*********************************************/
/**                                         **/
/**       TEMPORARY WORKAROUNDS HERE        **/
/**                                         **/
/*********************************************/
/*********************************************/

#main-container          { border-top: 3px solid #0c4e87; }
#main-container > header { border-top: none; }