@charset "utf-8";

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gold:    #cdb591 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$colors: () !default;
$colors: map-merge((
  "black":      $black,
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "gold":       $gold,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800,
  "gray-light": $gray-300
), $colors);

$primaryLight:      lighten( $primary, 5% );
$primaryLighter:    lighten( $primary, 10% );
$primaryLightest:   lighten( $primary, 15% );
$primaryDark:       darken( $primary, 5% );
$primaryDarker:     darken( $primary, 10% );
$primaryDarkest:    darken( $primary, 15% );

$secondaryLight:    lighten( $secondary, 5% );
$secondaryLighter:  lighten( $secondary, 10% );
$secondaryLightest: lighten( $secondary, 15% );
$secondaryDark:     darken( $secondary, 5% );
$secondaryDarker:   darken( $secondary, 10% );
$secondaryDarkest:  darken( $secondary, 15% );

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":            $primary,
  "secondary":          $secondary,
  "success":            $success,
  "info":               $info,
  "warning":            $warning,
  "danger":             $danger,
  "light":              $light,
  "dark":               $dark,
  "primary-light":      $primaryLight,
  "primary-lighter":    $primaryLighter,
  "primary-lightest":   $primaryLightest,
  "primary-dark":       $primaryDark,
  "primary-darker":     $primaryDarker,
  "primary-darkest":    $primaryDarkest,
  "inverse":            $dark
), $theme-colors);
$theme-colors: map-merge($theme-colors, $colors);

$theme-color-interval:      8% !default;

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

$link-color:                theme-color("primary") !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;

$footer-bg: $light $imp;
$footer-bg-color: $light $imp;
$footer-border-top: 1px solid $gray-400;
$footer-text-color: $white;
$footer-link-color: $white;

@mixin primary-gradient() {
    color: $component-active-color;
    background-color: $primaryLight;
    background: linear-gradient(to bottom, $primaryLightest 0%,$primaryLight 100%);
    background-image: linear-gradient(to bottom, $primaryLightest, $primaryLight);
}

$pagination-color:                  $link-color !default;
$pagination-bg:                     $white !default;
$pagination-border-color:           $gray-300 !default;
$pagination-hover-color:            $link-hover-color !default;
$pagination-hover-bg:               $gray-200 !default;
$pagination-hover-border-color:     $gray-300 !default;
$pagination-active-color:           $component-active-color !default;
$pagination-active-bg:              $component-active-bg !default;
$pagination-active-border-color:    $pagination-active-bg !default;
$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-300 !default;
@mixin pagination-bg-color() {
    @include primary-gradient();
}

$header-bg-color: $white;

$bg-primary-color: $white;

$section-link-color: $component-active-color;
@mixin section-link-bg-color() {
    background-color: $primaryLighter;
    background: linear-gradient(to bottom, rgba($primaryLighter, 0.2) 0%,rgba($primaryLightest, 0.2) 100%);
    background-image: linear-gradient(to bottom, rgba($primaryLighter, 0.2) 0%,rgba($primaryLightest, 0.2) 100%);
}
@mixin active-link-bg-color() {
    @include primary-gradient();
}
$sidebar-link-border-bottom-color: #ddd;
$sidebar-link-badge-bg-color: grey;

$price-info-link-color: $primaryLighter;

$socialicon-bg-color: $white;
$socialicon-color: $primaryLight;
$socialicon-hover-bg-color: $primaryLight;
$socialicon-hover-color: $white;

$card-cap-bg:                       $white;