body.modal-sidebar-is-visible {
    overflow: hidden;
}
.modal-sidebar {
    display: none;
    position: fixed;
    right: -350px;
    top: 0px;
    z-index: 200;
    height: 100vh;
    width: 350px;
    background-color: #ffffff;
    border-left: 1px solid $gray-300;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: right 500ms;
    overflow: auto;
    max-height: 100vh;
    
    .modal-sidebar-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: $modal-header-padding;
        border-bottom: $modal-header-border-width solid $modal-header-border-color;
        padding: 1rem;
        flex-shrink: 0;
        .modal-sidebar-title {
            margin-bottom: 0;
            line-height: $modal-title-line-height;
        }
        .close {
            padding: $modal-header-padding;
            margin: (-$modal-header-padding-y) (-$modal-header-padding-x) (-$modal-header-padding-y) auto;
        }
    }
    .modal-sidebar-body {
        overflow-y: auto;
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }
    .modal-sidebar-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #dee2e6;
        flex-shrink: 0;
    }
}
.modal-sidebar.is-visible {
    right: 0px;
    display: flex!important;
    flex-direction: column;
}
#modal-sidebar-mask {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 199;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    opacity: 0.8;
}
main.modal-sidebar-pinned {
    padding-right: calc(350px + 1.5rem) !important;
}